@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body{
    background-color: #f1f1f1;
}
nav{
    padding: 0 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}
nav .logo a{
    font-size: 2em;
    color: white;
    font-weight: 700;
}
nav .logo a span{
    color: crimson;
}
nav .search-box{
    display: flex;
    padding: 0 10px;
}
nav .search-box i{
    margin: 5px;
    padding: 0 5px;
    border: none;
    color: white;
    /*transition: all 0.5s ease;
    */
}
nav .search-box i:hover{
    border-radius: 50%;
    color: red;

}
nav .search-box input[type=search]{
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.2);
}

nav .icon{
    display: flex;
}
nav .icon a{
    padding: 0 2px;
    margin: 0 2px;
    color: red;
}
nav .icon a:hover{
    color: white;
}
nav .menu .menu-list{
    display: flex;
}
nav .menu .menu-list a{
    padding: 0 5px;
    color: red;
    font-weight: 500;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav .menu .menu-list a:hover{
    color: white;
}
i{
    font-size: 15px;
}
header{
    padding: 0 50px;
    height: calc(100vh-60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header .left{
    width: 700px;
}
header .left h1{
    font-size: 70px;
}
header /left h1 span{
    color: #0f2182;
}
header .left p{
    margin: 40px 0;
    color: #777;
}
header .left a{
    display: flex;
    align-items: center;
    background: #000;
    width: 200px;
    padding: 8px;
    border-radius: 20px;
}
header .left a i{
    background-color: #fff;
    color: #000;
    font-size: 24px;
    border-radius: 50%;
    padding: 8px;
}
header .left a span{
    color: #fff;
    margin-left: 10px;
}
header img{
    width: 600px;
}
h2{
    padding: 0 50px;
    margin-bottom:20px;
}
.sell{
    padding: 0 50px;
    margin: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.sell .item,
.sell-wear .wear-list .item{
    padding: 30px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.sell .item:hover,
.sell-wear .wear-list .item:hover{
    box-shadow: none;
}
.sell .item .header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sell .item .header i{
    font-size: 30px;
}
.sell .item .header h5{
    font-size: 17px;
}
.sell .item p{
    margin-top: 10px;
    padding: 0 4px;
}
.sell-wear{
    padding: 10px 50px;
    margin: 20px;
}
.sell-wear a{
    color: black;
}
.sell-wear a:hover{
    color: red;
}
.sell-wear.category{
    display: flex;
    padding: 10px 50px;
  
}
.sell-wear .category a{
    background: #faaaaa;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 10px;
    gap: 30px;   
}
.sell-wear .item img{
    width: 200px;
}
.sell-wear .wear-list{
    display: flex;
   margin-top: 40px;
   gap: 20px;
}
.sell-wear .wear-list .item .price{
    display: flex;
    gap: 5px;
}
.sell-wear .wear-list .item .info{
    display: flex;
    justify-content: space-between;
}